## Distances (intervals) between baffles and detectors

record(calc, "$(FULL_PREFIX)$(ASHORT)$(BSHORT):INTERVAL"){
    field(DESC, "Dist between $(ASHORT) and $(BSHORT)")
    field(EGU, "mm")
    field(INPA, "$(P)$(APV) CP MSS")
    field(INPB, "$(P)$(BPV) CP MSS")
    field(CALC, "B-A")
    field(LOLO, "$(INTERVAL_MAJOR_WARNING)")
    field(LLSV, "MAJOR")
}

