
record(bo, "$(FULL_PREFIX)COLLISION_AVOIDANCE")
{
	field(DESC, "Enable/disable collision avoidance")
	field(DTYP, "Soft Channel")
	field(VAL, 0)

	field(ZNAM, "ENABLED")
	field(ONAM, "DISABLED")

	field(PINI, "YES")
	field(ASG, "MANAGER")

	info(archive, "VAL")
}
